<div class="container">
  <div class="py-12">
      <div class="max-w-md mx-auto bg-gray-100 rounded-lg shadow-lg md:max-w-5xl">
          <div class="md:flex ">
              <div class="w-full p-4 px-5 py-5">
                  <div class="gap-2 md:grid md:grid-cols-3 ">
                      <div class="col-span-2 p-5">
                          <h1 class="text-xl font-medium ">Shopping Cart</h1>
                          <div *ngFor="let product of products| async, let i=index">
                            <div class="flex items-center justify-between pt-6 mt-6">
                              <div class="flex items-center"> <img src={{product.cover}} width="60" class="rounded-full ">
                                  <div class="flex flex-col ml-3"> <span class="font-medium md:text-md">{{product.name}}</span> <span class="text-xs font-light text-gray-400">#{{(product.id)}}</span> </div>
                              </div>
                              <div class="flex items-center justify-center">
                                  <div class="flex pr-8 "><input type="number" class="w-12 h-6 px-2 mx-2 text-sm bg-gray-100 border rounded focus:outline-none" value="1" max={{product.quantity}} min="1" [(ngModel)]="quantities[i]" ></div>
                                  <div class="pr-8 "> <span class="text-xs font-medium">{{product.price * quantities[i]|currency}}</span> </div>
                                  <div class="pr-8" (click)="delete(product)"><svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                  </svg></div>
                                  <div> <i class="text-xs font-medium fa fa-close"></i> </div>
                              </div>
                          </div>
                          </div>
                          <div class="flex items-center justify-between pt-6 mt-6 border-t">
                              <div class="flex items-center"> <i class="pr-2 text-sm fa fa-arrow-left"></i> <span class="font-medium text-blue-500 text-md" [routerLink]="['/home']" >Continuez votre Shopping</span> </div>
                              <div class="flex items-center justify-center"> <span class="mr-1 text-sm font-medium text-gray-400">Subtotal:</span> <span class="text-lg font-bold text-gray-800 ">{{getTotal()|currency}}</span> </div>
                          </div>
                      </div>
                      <div class="p-5 overflow-visible bg-gray-800 rounded "> <span class="block pb-3 text-xl font-medium text-gray-100">Card Details</span> <span class="text-xs text-gray-400 ">Card Type</span>
                          <div class="flex items-center justify-between mt-2 overflow-visible">
                              <div class="relative px-4 py-2 bg-gray-500 rounded w-52 h-28 right-10"> <span class="text-lg italic font-medium text-gray-200 underline">VISA</span>
                                  <div class="flex items-center justify-between pt-4 "> <span class="text-xs font-medium text-gray-200">****</span> <span class="text-xs font-medium text-gray-200">****</span> <span class="text-xs font-medium text-gray-200">****</span> <span class="text-xs font-medium text-gray-200">****</span> </div>
                                  <div class="flex items-center justify-between mt-3"> <span class="text-xs text-gray-200">{{card.name}}</span> <span class="text-xs text-gray-200">{{card.month}}/{{card.year}}</span> </div>
                              </div>
                              <div class="flex flex-col items-center justify-center"> <img src="https://img.icons8.com/color/96/000000/mastercard-logo.png" width="40" class="relative right-5" /> <span class="relative text-xs font-medium text-gray-200 bottom-2 right-5">mastercard.</span> </div>
                          </div>
                          <div class="flex flex-col justify-center pt-3"> <label class="text-xs text-gray-400 ">Name on Card</label> <input type="text" [(ngModel)]="card.name" class="w-full h-6 py-4 text-sm text-white placeholder-gray-300 bg-gray-800 border-b border-gray-600 focus:outline-none" placeholder="Pascal Teul"> </div>
                          <div class="flex flex-col justify-center pt-3"> <label class="text-xs text-gray-400 ">Card Number</label> <input type="text" class="w-full h-6 py-4 text-sm text-white placeholder-gray-300 bg-gray-800 border-b border-gray-600 focus:outline-none" placeholder="**** **** **** ****"> </div>
                          <div class="grid grid-cols-3 gap-2 pt-2 mb-3">
                              <div class="col-span-2 "> <label class="text-xs text-gray-400">Expiration Date</label>
                                  <div class="grid grid-cols-2 gap-2"> <input type="text" [(ngModel)]="card!.month" class="w-full h-6 py-4 text-sm text-white placeholder-gray-300 bg-gray-800 border-b border-gray-600 focus:outline-none" placeholder="mm"> <input type="text" [(ngModel)]="card.year" class="w-full h-6 py-4 text-sm text-white placeholder-gray-300 bg-gray-800 border-b border-gray-600 focus:outline-none" placeholder="yyyy"> </div>
                              </div>
                              <div class=""> <label class="text-xs text-gray-400">CVV</label> <input type="text" class="w-full h-6 py-4 text-sm text-white placeholder-gray-300 bg-gray-800 border-b border-gray-600 focus:outline-none" placeholder="XXX"> </div>
                          </div> <button class="w-full h-12 text-white bg-blue-500 rounded focus:outline-none hover:bg-blue-600">Check Out</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

