<!--Section: Block Content-->
<section class="mb-5" *ngIf="product">

  <div class="row">
    <div class="col-md-6 mb-4 mb-md-0">

      <div id="mdb-lightbox-ui"></div>

      <div class="mdb-lightbox">

        <div class="row product-gallery mx-1">

          <div class="col-12 mb-0">
            <figure class="view overlay rounded z-depth-1 main-img">
                <img src="{{product.cover}}"
                  class="img-fluid z-depth-1">
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">

      <h5>{{product.name}}</h5>
      <p class="mb-2 text-muted text-uppercase small">{{product.category.name}}</p>
      <p><span class="mr-1"><strong>{{product.price|currency}}</strong></span></p>
      <p class="pt-1">{{product.description}}</p>
      <div class="table-responsive">
        <table class="table table-sm table-borderless mb-0">
          <tbody>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Category</strong></th>
              <td>{{product.category.name}}</td>
            </tr>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Delivery</strong></th>
              <td>Africa</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
      <button type="button" class="btn btn-primary btn-md mr-1 mb-2" (click)="addCart(product)" [routerLink]="['/cart']">Buy now</button>
      <button type="button" class="btn btn-light btn-md mr-1 mb-2" (click)="addCart(product)"><i
          class="fas fa-shopping-cart pr-2"></i>Add to cart</button>
    </div>
  </div>

</section>
<!--Section: Block Content-->
