<div class="ht">
  <div class="bo">
    <div  class="logo">One Horizon</div>
    <div id='lightning_hero'>
        <!-- <video autoplay muted loop>
          <source src="https://contentservice.mc.reyrey.net/image_v1.0.0/?id=8789f1bc-fd0e-50cb-bf04-22be21847e58" type="video/mp4">
        </video> -->
        <div class='overlay'></div>

        <p>INTRODUCING THE ALL-NEW<BR>
          <span>ALL-ELECTRIC 2022</span>
          </p>

        <img class='logo' src='https://contentservice.mc.reyrey.net/image_v1.0.0/?id=8c8fca17-0507-5a75-8112-656a317ad68c&637578125578399105' />

        <p class='tag_line'>THE FUTURE OF TRUCKS IS POWERFUL,
          PRODUCTIVE AND QUICK AS LIGHTNING</p>

        <img class='lineup' src='https://contentservice.mc.reyrey.net/image_v1.0.0/?id=2643d919-95bf-5695-906f-e156996f0521&637577199475559763' alt='The New Ford F-150 Lightning' />
      </div>
      <button class="button" [routerLink]="['/products']">See our catalog</button>
  </div>
</div>
