<nav class="navbar navbar-expand navbar-dark bg-dark d-flex flex justify-content-center">
      <div class="nav navbar-nav"  *ngIf="!(isOnline| async)">
         <a class="nav-item nav-link active" [routerLink]="['/login']" >login</a>
      </div>
      <div class="nav navbar-nav"  *ngIf="(isOnline| async)">
        <a class="nav-item nav-link"><svg xmlns="http://www.w3.org/2000/svg" class="" width=16 heigth=16 fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
        </svg></a>
        <a class="nav-item nav-link active" (click)="logout()">logout</a>
      </div>
      <a  class="nav-link" [routerLink]="['/cart']">
        <svg class="bi bi-bag" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M14 5H2v9a1 1 0 001 1h10a1 1 0 001-1V5zM1 4v10a2 2 0 002 2h10a2 2 0 002-2V4H1z"
          clip-rule="evenodd" />
        <path d="M8 1.5A2.5 2.5 0 005.5 4h-1a3.5 3.5 0 117 0h-1A2.5 2.5 0 008 1.5z" />
      </svg><span class="badge badge-pill badge-primary">{{(bag | async)!.length}}</span>
      </a>

</nav>
<router-outlet></router-outlet>

